*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
     perspective: 700px;
}
/* header */
.nav-top{
    width: 100%;
    height: 120px;
    background-color: rgb(24, 46, 2);
    display: flex;
    padding: 20px;
    
    
}
.nav-top .searchi{
    color: rgb(240, 248, 255);
    margin-top: 20px;
    font-size: 40px;
    margin-right: 5px;
    margin-left: 20px;
    transition: 0.5s;
}
.nav-top .search{
width: 200px;
height: 35px;
font-weight: bold;
font-size: 20px;
color: rgb(255, 255, 255);
background-color: rgba(255, 255, 255, 0);
margin-top: 20px;
border: 0cap;
transition: 0.5s;
border-radius: 10px;
font-family: "Playfair Display", serif;

}
.nav-top img{
    width: 200px;
    height: 70px;
    
    display: inline;
   margin-left: 300px;
}
.nav-top .icon{
    color: rgb(255, 255, 255);
    margin-top: 20px;
    font-size: 40px;
    transition: 0.5s;
    margin-left: auto;
    margin-right: 30px;
}
.nav-top .icon:hover{
    transform: translate(0% ,-10%);
}
.nav-top .searchi:hover{
    transform: translate(0% ,-10%);
}
.nav-top .search:hover{
    background-color: rgba(240, 248, 255, 0.658);
    color: black;
    
}
.nav-mid{
    width: 100%;
    height: 1px;
    margin: 0 auto;
    background-color: white;
   
}
/* nav */
.nav-end{
    width: 100%;
    height: 75px;
    background-color: rgba(38, 59, 17, 0.774);
    display: flex;
    justify-content: center;
    padding-top: 20px;
    
}
ul li{
    list-style: none;
    display: inline;
    margin-left: 20px;
    color:rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
    margin: auto 20px;
    transition: 0.5s;
    padding: 3px;
    font-family: "Playfair Display", serif;
    
}
.nav-end li:hover{
    background-color: rgba(0, 0, 0, 0.836);
    color:  goldenrod;
    border-radius: 10px;
}
/* main */
.hero{
    width: 100%;
    background-image:url(../image/11171600.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    
}
.text{
    width: 300px;
    height: 300px;
    text-align: center;
    margin-left: 60px;
    
    
}
.text h1{

  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight:bold;
  font-style: normal;
  font-size: 45px;
  color: rgb(255, 255, 255);
}   

.text p{
    color:whitesmoke;
    font-weight: bold;
    font-size: 22px;
    font-family: "Playfair Display", serif;
    line-height: 50px;
}
/* section-1 */
.black{
    width: 100%;
    height: 650px;
    background-color: #000000; 
    padding-bottom: 30px;
    
}
.hero_two{
    width: 100%;
    background-image:url(../image/her.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;

}
.first{
   
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 600px;
    
}
.about{
    width: 400px;
    height: 520px;
    background-color: rgba(41, 39, 39, 0.582);
    margin-left: 50px; 
    margin-top: 50px;
    border-radius: 30px;
    padding: 10px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    transition: 0.5s;
}
.info{    
    width: 400px;
    height: 520px;
    background-color: rgba(41, 39, 39, 0.582);
    margin-right: 50px; 
    margin-top: 50px;
    border-radius: 100px 30px 150px 10px;
    font-weight: bold;
    padding: 10px;
    color: rgb(255, 255, 255);
    transition: 0.5s;
    /* border: 1px solid white; */
}

.info:hover{
    box-shadow: 5px 10px 15px 2px rgba(255, 255, 255, 0.719);
}
.about:hover{
    box-shadow: 5px 10px 15px 2px rgba(255, 255, 255, 0.719);
}
.name{
    background-color: rgba(141, 132, 132, 0.959);
    color: aliceblue;
    border:0 ;
    border-radius: 10px;
}
.password{
    background-color: rgba(141, 132, 132, 0.959);
    color: aliceblue;
    border:0 ;
    border-radius: 10px;
}
/* .motion{
    width: 100px;
    height: 100px;
    background-color: #495057;
    animation-name: change;
    animation-duration: 10s;
    position: absolute;
    animation-iteration-count: infinite;
    border-radius: 50px;
    

} */
/* .motion1{
    width: 100px;
    height: 100px;
    background-color:  #006494;
    animation-name: change;
    animation-duration: 10s;
    position: absolute;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    border-radius: 50px;

}
.motion2{
    width: 100px;
    height: 100px;
    background-color:  #004D74;
    animation-name: change;
    animation-duration: 10s;
    position: absolute;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    border-radius: 50px;

} */
/* .motion3{
    width: 100px;
    height: 100px;
    background-color:  #003554;
    animation-name: change;
    animation-duration: 10s;
    position: absolute;
    animation-iteration-count: infinite;
    animation-delay: 3s;
    border-radius: 50px;

} 
.motion4{
    width: 100px;
    height: 100px;
    background-color:  #495057;
    animation-name: change;
    animation-duration: 10s;
    position: absolute;
    animation-iteration-count: infinite;
    
    border-radius: 50px;

} */
/* @keyframes change{
0%{
    left: 0px;
}
50%{
    left:calc(100% - 100px)
}
100%{
     left: 0px;
}
}
.continer{
    width: 100%;
    height: 100px;
    background-color: rgb(0, 0, 0); 
} */
/* section-2 */
.ti{
    padding-top: 20px;
    background-color:#000000;
    width: 100%;
    height: 100px;
    color: white;
    text-align: center;
}
.ti-line{
    width: 350px;
    height: 3px;
    background-color: white;
    margin: 0 auto
    
}
.lather{
    padding-top: 40px;
    width: 100%;
    height: 600px;
    background:-webkit-linear-gradient(top,#000000,#111111,#111111,#000000,#1d2e28,#1d2e28);
    display: flex;
    justify-content: space-evenly;
   
}
.a{
    width: 300px;
    height:500px ;
    box-shadow: 10px 10px 10px 2px white;
    transition: 0.5s;
    

}
.b{
    width: 300px;
    height:500px ;
    box-shadow: 10px 10px 10px 2px white;
    transition: 0.5s;
    
    


}
.c{
    width: 300px;
    height:500px ;
    box-shadow: 10px 10px 10px 2px white;
    transition: 0.5s;
}
.lather h2{
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;  
}
.lather h3{
    padding-top: 10px;
    text-align: center;
    color: white;  
}
.lather p{
    padding-top: 10px;
    
    color: white; 
    display: block; 
}

.a:hover{
    box-shadow: none;
    transform: translate(1%,1%);   
}
.b:hover{
    box-shadow: none;
    transform: translate(1%,1%);   
}
.c:hover{
    box-shadow: none;
    transform: translate(1%,1%);   
}
.lather button{
    display: inline;
    margin: 0 42%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-left: 0;
    border-top: 0;
    border-color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 3px;
    border-radius: 5px;
    
   
}

.w-mid{
    width: 1140px;
    height: 1px;
    background-color: white;
    position: absolute;
    left: 8%;
}
/* section-3 */
.to{
    padding-top: 20px;
    background-color:#1d2e28 ;
    width: 100%;
    height: 100px;
    color: white;
    text-align: center;
}
.to-line{
    width: 200px;
    height: 3px;
    background-color: white;
    margin: 0 auto
    
}
.METAL{
    padding-top: 40px;
    width: 100%;
    height: 600px;
    background:-webkit-linear-gradient(top,#1d2e28,#18392b,#14452f,#0f5132 ,#14452f,#18392b,#1d2e28);
    display: flex;
    justify-content: space-evenly;
   
}
.a-METAL{
    width: 300px;
    height:500px ;
    box-shadow: 10px 10px 10px 2px  ;
    transition: 0.5s;

}
.b-METAL{
    width: 300px;
    height:500px ;
    box-shadow: 10px 10px 10px 2px ;
    transition: 0.5s;
    
    


}
.c-METAL{
    width: 300px;
    height:500px ;
    box-shadow: 10px 10px 10px 2px ;
    transition: 0.5s;
}
.METAL h2{
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;  
}
.METAL h3{
    padding-top: 10px;
    text-align: center;
    color: white;  
}
.METAL p{
    padding-top: 10px;
    
    color: white; 
    display: block; 
}

.a-METAL:hover{
    box-shadow: none;
    transform: translate(1%,1%);   
}
.b-METAL:hover{
    box-shadow: none;
    transform: translate(1%,1%);   
}
.c-METAL:hover{
    box-shadow: none;
    transform: translate(1%,1%);   
}
.METAL button{
    display: inline;
    margin: 0 42%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-left: 0;
    border-top: 0;
    border-color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 3px;
    border-radius: 5px;
    
   
}
/* section-4 */
.hero-end{
    width: 100%;
    background-image:url(../image/hero-end.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
    background-attachment: fixed;
    display: flex;
    justify-content: space-evenly;
    padding-top: 200px;
    
    
}

.rot{
    width: 100%;
    height: 500px;
    
}
.rot1 ,.rot2 ,.rot3{
    width: 300px;
    height: 350px;
    
    position: relative;
    transform-style: preserve-3d;
    transition: 0.5s;
    backface-visibility: hidden;
    
    
    
}
.rot-f,.rot-b{
    width: 300px;
    height: 350px;
    position: absolute;
    border-radius: 15px;
    
}
.rot-f{
    background-color: rgb(0, 0, 0);
    z-index: 1;
    backface-visibility: hidden;
    height: 350px;
    border-radius: 15px;
    
}
.rot-b{
    background-color:#1d2e28;
    transform: rotatey(180deg);    
    height: 350px;
    border-radius: 15px;
    backface-visibility: hidden;
    position: relative;
    padding-top: 10px;
    
    
}
.rot1:hover{
    transform: rotatey(180deg);   
    
}
.rot2:hover{
    transform: rotatey(180deg);   
    
}

.rot3:hover{
    transform: rotatey(180deg);   
    
} 
.rot h2{
    text-align: center;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.rot-b p{
    
    color: #ffffff;
    font-weight: bold;
}
.rot i{
    position: absolute;
    left: 120px;
    color: rgb(255, 255, 255);
}
/* section-5 */
.para{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #000000e1;
    color: white;
    column-count: 3;
    column-gap: 20px;
    column-rule: 3px solid #18392b;
    margin-bottom: 30px;
}
/* footer */
 .continer-end{
    height: 300px;
    background:-webkit-linear-gradient(top,#18392b,#1d2e28,#1d2e28,#111111,#000000,#000000,#000000 );
    text-align: center;
    
}
.continer-end-icon i{
    font-size: 40px;
    margin-top: 190px;
    transition: 0.2s;
    padding-left: 10px;
    padding-right: 10px;
    
    
}
.continer-end i:hover{
    transform: translate(0% ,-10%);
}
.continer-end p{
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-weight: bold;
}  